.btn {
	background: none;
	border: none;
	height: 30px;
	padding-left: 26px;
	padding-right: 26px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 30px;
	background: #334c5d;
	display: inline-block;
	border-radius: 15px;
	&_search {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		text-align: center;
		background: none;
		padding: 0;
		.icon {
			display: inline-block;
			margin: 0;
		}
	}
	&_red {
		background: #df494a;
	}
}