.site-header {
	background: url('../img/background.jpg') no-repeat;
	background-size: cover;
	background-color: rgba(43,25,67,0.35);
	&__container {

	}
	&__logo {
		display: inline-block;
	}
	&__logo-img {

	}
	&__logo-text {
		.yanone();
		font-size: 36px;
		color: #fff;
	}
	&__info {

	}
	&__info-list {

	}
	&__info-item {

	}
	&__info-link {

	}
}