.socials {
	width: 150px;
	margin: 0 auto;
	text-align: justify;
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline;
		// .clearfix();
	}
	&__item {
		display: inline;
		// float: left;
	}
	&__link {
		display: inline-block;
		display: inline;
	}
	&:after {
		content: '';
		display: inline-block;
		position: relative;
		width: 100%;
		height: 0;
	}
}