.wish {
	display: none;
	&__close {
		padding: 5px;
		display: inline-block;
	}
	&__close-img {
		width: 13px;
		height: 13px;
		display: inline-block;
	}
	&__text {
		font-size: 14px;
		color: #fff;
		text-align: center;
	}
	&__btn-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__btn-item {

	}
	&__btn-link {

	}
}