<!-- Breaking message  -->
<div class="breaking-message">
	<div class="breaking-message__overlay"></div>
	<div class="container">
		<div class="breaking-message__inner">
			<div class="breaking-message__cell">
				<p class="breaking-message__text">
					Вступи в нашу группу вконтакте <a href="http://vk.com/mysoundsourse">vk.com/mysoundsourse</a> и расшарь друзьям последнюю запись на стене.
				</p>
			</div>
			<div class="breaking-message__cell">
				<a href="#" class="btn btn_red">конкурс</a>
			</div>
		</div>
	</div>
</div>