<div class="carousel">
	<!-- Controls -->
	<div class="carousel__controls">
		<ul class="carousel__controls-list">
			<li class="carousel__controls-item">
				<i class="icon icon-circle">0</i>
				<div class="carousel__controls-label">
					школа
				</div>
			</li>
			<li class="carousel__controls-item">
				<i class="icon icon-circle">0</i>
				<div class="carousel__controls-label">
					концерт
				</div>
			</li>
			<li class="carousel__controls-item">
				<i class="icon icon-circle">0</i>
				<div class="carousel__controls-label">
					запись
				</div>
			</li>
			<li class="carousel__controls-item">
				<i class="icon icon-circle">0</i>
				<div class="carousel__controls-label">
					улица
				</div>
			</li>
		</ul>
	</div>
	<!-- Slides -->
	<ul class="carousel__list">
		<li class="carousel__item">
			<img src="#" alt="" class="carousel__img">
			<div class="carousel__container">
				<h2 class="carousel__title">
					Ищете музыкальные инструменты для обучения в школе?
				</h2>
				<ul class="carousel__info-list">
					<li class="carousel__info-item">
						<img src="#" alt="" class="carousel__info-img">
					</li>
					<li class="carousel__info-item">
						<img src="#" alt="" class="carousel__info-img">
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>