<!-- Site footer -->
<footer class="site-footer content">
	<div class="container">
		<div class="content__row">
			<div class="content__column-1">
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Обратная связь
					</h3>
					<p class="site-footer__text">
						У вас есть вопросы, замечания или пожелания? Помогите нам стать лучше.
					</p>
					<a href="#" class="btn btn_green">
						Напишите нам
					</a>
				</div>
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Помощь
					</h3>
					<ul class="site-footer__section-list">
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Как происходит оплата
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Доставка товара
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="content__column-1">
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Категории инструментов
					</h3>
					<ul class="site-footer__section-list">
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Для DJ (356)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Гитары (76)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Духовые (762)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Клавишные (56)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Струнные (312)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Ударные (1732)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Для студии (789)
							</a>
						</li>
						<li class="site-footer__section-item">
							<a href="#" class="site-footer__section-link">
								Этнические (345)
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="content__column-1">
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Возможности оплаты
					</h3>
					<ul class="site-footer__icon-text-list">
						<li class="site-footer__icon-text-item">
							<img src="#" alt="" class="site-footer__icon">
							<p class="site-footer__icon-text">
								Наличными курьеру или в пункте выдачи товара
							</p>
						</li>
						<li class="site-footer__icon-text-item">
							<img src="#" alt="" class="site-footer__icon">
							<p class="site-footer__icon-text">
								Банковской картой в пункте выдачи товара
							</p>
						</li>
					</ul>
				</div>
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Безопасность
					</h3>
					<ul class="site-footer__icon-text-list">
						<li class="site-footer__icon-text-item">
							<img src="#" alt="" class="site-footer__icon">
							<p class="site-footer__icon-text">
								Передача ваших персональных данных шифруется
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="content__column-1">
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Контакты
					</h3>
					<p class="site-footer__text">
						тел. <a href="tel:8-800-345-34-21">8-800-345-34-21</a>
					</p>
					<p class="site-footer__text">
						Пункт выдачи товара: <br>
						Таганрог, пер. Спартаковский 5
					</p>
				</div>
				<!-- Footer section -->
				<div class="site-footer__section">
					<h3 class="site-footer__section-title">
						Следите за нами
					</h3>
					<div class="social-btn">
						<ul class="social-btn__list">
							<li class="social-btn__item">
								<a href="#" class="social-btn__link">
									<img src="#" alt="" class="social-btn__img social-btn__img_twitter">
								</a>
							</li>
							<li class="social-btn__item">
								<a href="#" class="social-btn__link">
									<img src="#" alt="" class="social-btn__img social-btn__img_facebook">
								</a>
							</li>
							<li class="social-btn__item">
								<a href="#" class="social-btn__link">
									<img src="#" alt="" class="social-btn__img social-btn__img_vk">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Footer about -->
		<div class="site-footer__about">
			<img src="#" alt="" class="site-footer__about-logo">
			<p class="site-footer__about-text">
				Источник Звука - это самый удобный интернет магазин музыкальных инструментов и шоу-техники в Ростовской области. Мы продаем все что нужно музыкантам от экзотических шаманских бубнов до самого современного концертного оборудования. Легкий поиск музыкальных инструментов осуществляется благодаря разнообразным фильтрам, таким как производитель, материал, тональность, качество звука и многим другим.
			</p>
		</div>
		<!-- Footer info -->
		<div class="site-footer__info">
			<p class="site-footer__info-text">
				Официальная информация
			</p>
			<p class="site-footer__info-text site-footer__info-text_right">
				Все придумано и реализовано командой <a href="http://brainmaze.net" target="_blank">brainmaze.net</a>
			</p>
		</div>
	</div>
</footer>