<div class="genres">
	<h2 class="genres__title">
		Поиск инструментов по жанрам
	</h2>
	<ul class="genres__list">
		<li class="genres__item">
			<a href="#" class="genres__link">
				<svg viewBox="0 0 20 20" class="icon icon-rock">
					<use xlink:href="#rock"></use>
				</svg>
				<span class="genres__text">
					Рок <span class="genres__count">(4563)</span>
				</span>
			</a>
		</li>
		<li class="genres__item">
			<a href="#" class="genres__link">
				<svg viewBox="0 0 20 20" class="icon icon-rock">
					<use xlink:href="#jazz"></use>
				</svg>
				<span class="genres__text">
					Джаз <span class="genres__count">(567)</span>
				</span>
			</a>
		</li>
		<li class="genres__item">
			<a href="#" class="genres__link">
				<svg viewBox="0 0 20 20" class="icon icon-rock">
					<use xlink:href="#electro"></use>
				</svg>
				<span class="genres__text">
					Метал <span class="genres__count">(834)</span>
				</span>
			</a>
		</li>
		<li class="genres__item">
			<a href="#" class="genres__link">
				<svg viewBox="0 0 20 20" class="icon icon-rock">
					<use xlink:href="#metal"></use>
				</svg>
				<span class="genres__text">
					Электро <span class="genres__count">(678)</span>
				</span>
			</a>
		</li>
		<li class="genres__item">
			<a href="#" class="genres__link">
				<svg viewBox="0 0 20 20" class="icon icon-rock">
					<use xlink:href="#folk"></use>
				</svg>
				<span class="genres__text">
					Фолк <span class="genres__count">(102)</span>
				</span>
			</a>
		</li>
		<li class="genres__item">
			<a href="#" class="genres__link">
				<svg viewBox="0 0 20 20" class="icon icon-rock">
					<use xlink:href="#pop"></use>
				</svg>
				<span class="genres__text">
					Поп <span class="genres__count">(67)</span>
				</span>
			</a>
		</li>
	</ul>
</div>