<header class="site-header row">
	<div class="site-header__container col-md-12">
		<!-- Logo -->
		<div class="site-header__logo">
			<img src="" alt="" class="site-header__logo-img">
			<p class="site-header__logo-text">
				Источник звука
			</p>
		</div>
		<!-- Info -->
		<div class="site-header__info">
			<ul class="site-header__info-list">
				<li class="site-header__info-item">
					<a href="tel:88002345687" class="site-header__info-link">
						8-800-234-56-87
					</a>
				</li>
				<li class="site-header__info-item">
					<a href="#" class="site-header__info-link">
						Как оплатить?
					</a>
				</li>
			</ul>
		</div>
		<!-- Search -->
		<div class="form">
			<form action="#">
				<div class="field">
					<input type="text" class="input input_search">
					<input type="submit" class="btn btn_search">
				</div>
			</form>
		</div>
	</div>
	<!-- Menu -->
	<nav class="site-menu">
		<ul class="site-menu__list">
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Dj</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Гитары</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Духовные</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Клавишные</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Смычковые</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Ударные</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Звук</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Этно</span>
			</li>
			<li class="site-menu__item">
				<img src="#" alt="" class="site-menu__img">
				<span class="site-menu__text">Свет</span>
			</li>
		</ul>
	</nav>
</header>