<!-- Product tile -->
	<div class="product">
		<img src="#" alt="" class="product__img">
		<div class="product__flag">
			<span class="product__flag-title">Акция</span>
			<span class="product__flag-value">-40%</span>
		</div>
		<!-- Wish button -->
		<div class="wish-btn">
			<input type="checkbox" class="wish-btn__checkbox">
			<div class="wish-btn__text">Я хочу</div>
		</div>
		<!-- Wish block -->
		<div class="wish">
			<div class="wish__title">
				Я хочу
			</div>
			<a href="#" class="wish__close">
				<i class="icon icon-close"></i>
			</a>
			<p class="wish__text">
				Расскажите друзьям в соцсетях, что очень хотите этот инструмент:
			</p>
			<ul class="wish__btn-list">
				<li class="wish__btn-item">
					<a href="#" class="wish__btn-link">
						<i class="icon icon-twitter"></i>
					</a>
				</li>
				<li class="wish__btn-item">
					<a href="#" class="wish__btn-link">
						<i class="icon icon-facebook"></i>
					</a>
				</li>
				<li class="wish__btn-item">
					<a href="#" class="wish__btn-link">
						<i class="icon icon-vk"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="product__info">
			<div class="product__info-container">
				<h2 class="product__title">
					Электрогитара Gibson
				</h2>
				<!-- Rate -->
				<div class="rate">
					rating
				</div>
			</div>
			<ul class="product__info-list">
				<li class="product__info-item">
					Основное: 22 лада
				</li>
				<li class="product__info-item">
					Тип корпуса: Les Paul
				</li>
				<li class="product__info-item product__info-item_no-bullet">
					<a href="#" class="product__info-link">
						подробнее о товаре
					</a>
				</li>
			</ul>
		</div>
		<footer class="product__footer">
			<div class="product__footer-container">
				<div class="product__old-price">7890</div>
				<div class="product__price">5 800 руб.</div>
			</div>
			<a href="#" class="btn">
				<i class="icon icon cart"></i>
				Купить
			</a>
		</footer>
	</div>