<div class="steps">
	<div class="container">
		<ul class="steps__list">
			<li class="steps__item">
				<img src="img/icons/search_item.svg" alt="" class="steps__img steps__img_search">
				<p class="steps__text">
					Найди нужный музыкальный инструмент
				</p>
			</li>
			<li class="steps__item">
				<img src="img/icons/cart.svg" alt="" class="steps__img steps__img_cart">
				<p class="steps__text">
					Нажмите «купить», введите свой номер телефона
				</p>
			</li>
			<li class="steps__item">
				<img src="img/icons/manager.svg" alt="" class="steps__img steps__img_manager">
				<p class="steps__text">
					Наш менеджер свяжется с вами для заказа
				</p>
			</li>
			<li class="steps__item">
				<img src="img/icons/rocket.svg" alt="" class="steps__img steps__img_rocket">
				<p class="steps__text">
					Мы быстро доставим товар курьером
				</p>
			</li>
		</ul>
	</div>
</div>