<!-- Tip of the day -->
<div class="tip">
	<img src="img/tip-bg-1.jpg" alt="" class="tip__img">
	<div class="tip__overlay"></div>
	<div class="tip__container">
		<div class="tip__title">
			Совет недели
		</div>
		<a href="#" class="tip__update">
			<svg viewBox="0 0 20 20" class="icon icon-update">
				<use xlink:href="#update"></use>
			</svg>
		</a>
		<img src="img/avatar-1.jpg" alt="" class="tip__avatar">
		<h2 class="tip__text">
			Музыкант Андрей Ясинский о том, как собрать домашнюю студию за десять штук и наебениться ацетоном.
		</h2>
		<footer class="tip__footer">
			<div class="tip__info-container">
				<span class="tip__info-text">26 августа</span>
				<a href="#" class="btn btn_red">
					Читать
				</a>
				<span class="tip__info-text">15 комментариев</span>
			</div>
		</footer>
	</div>
</div>