<!-- Tip of the day -->
<div class="tip">
	<div class="tip__info-title">
		Совет недели
	</div>
	<a href="#" class="tip__update">
		<i class="icon icon-update"></i>
	</a>
	<img src="#" alt="" class="tip__img">
	<h2 class="tip__title">
		Музыкант Андрей Ясинский о том, как собрать домашнюю студию за десять штук и наебениться ацетоном.
	</h2>
	<div class="tip__container">
		<span class="tip__info-text">26 августа</span>
		<a href="#" class="btn btn_red">
			Читать
		</a>
		<span class="tip__info-text">15 комментариев</span>
	</div>
</div>