<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Источник звука - Главная</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Roboto:400,100,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        {{>header}}
        <main class="content">
            <h1>content</h1>
        </main>
        {{>footer}}
    </div>

    <script src="vendors/plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>